@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans:wght@300&display=swap');
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

header {
    height: 10%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-size: 1.5rem;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    Color: Tomato;
    font-size: 2rem;
    text-decoration: none;
}

.specialbutton {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.specialbutton:hover {
    background-color: #5cbf2a;
}

.specialbutton:active {
    position: relative;
    top: 1px;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: bisque;
    height: 50rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    gap: 1rem;
}

.divis {
    background-color: tomato;
    width: 25%;
    height: 100px;
}

.title {
    width: 100%;
    text-align: center;
    color: grey;
    font-size: 30px;
    font-weight: bolder;
}


/*
.wee {
    width: 70%;
    margin: 0 auto;
    background-color: bisque;
    height: 30rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    gap: 1rem;
}*/

.box {
    height: 150px;
    width: 150px;
    border: solid 3px #ccc;
    margin: 10px;
    /* align items in the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*
.item {
    width: 10%;
    height: 100px;
    background-color: tomato;
    margin: 0 auto;
}*/

.hide {
    display: none;
}

.show {
    display: inline;
}

.boxpink {
    height: 150px;
    width: 150px;
    border: 3px solid rgb(255, 202, 194);
    margin: 10px;
    /* align items in the box */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.boxdark {
    height: 150px;
    width: 150px;
    border: 3px solid rgb( 100, 129, 179);
    margin: 10px;
    /* align items in the box */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.boxbaby {
    height: 150px;
    width: 150px;
    border: 3px solid rgb( 168, 200, 255);
    margin: 10px;
    /* align items in the box */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.drag-over-baby {
    border: 3px dashed rgb( 168, 200, 255);
}

.drag-over-pink {
    border: 3px dashed rgb(255, 202, 194);
}

.drag-over-dark {
    border: 3px dashed rgb( 100, 129, 179);
}


/*
.wee {
    width: 70%;
    margin: 0 auto;
    background-color: bisque;
    height: 30rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    gap: 1rem;
}*/

.wee {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: grey;
}

.wee2 {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wee3 {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.item {
    width: 100px;
    height: 140px;
    width: 22%;
    margin: 2% auto;
    /*  margin-bottom: 2%;*/
    /* background-position: center;*/
    justify-content: flex-start;
}

#item {
    background-color: rgb(255, 202, 194);
}

#item2 {
    background-color: rgb( 168, 200, 255);
}

#item3 {
    background-color: rgb( 168, 200, 255);
}

#item4 {
    background-color: rgb( 168, 200, 255);
}

#item5 {
    background-color: rgb( 100, 129, 179);
}

#item6 {
    background-color: rgb(255, 202, 194);
}

#item7 {
    background-color: rgb( 100, 129, 179);
    ;
}

#item8 {
    background-color: rgb( 100, 129, 179);
}

#item9 {
    background-color: rgb(255, 202, 194);
}

#item10 {
    background-color: rgb( 168, 200, 255);
}

#item11 {
    background-color: rgb(255, 202, 194);
}

#item12 {
    background-color: rgb( 100, 129, 179);
}

.hell-blau {
    background-color: rgb( 168, 200, 255);
}

.dunkel-blau {
    background-color: rgb(100, 129, 179);
}

.pink {
    background-color: rgb(255, 202, 194);
}

.div-btn-rage {
    margin: 6% auto;
    justify-content: flex-start;
}


/*POP up Code*/

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* The actual popup */

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}


/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Toggle this class - hide and show the popup */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#myButton {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    border: none;
    color: white;
    justify-content: flex-start;
    font-size: 30px;
    border-radius: 8px;
    height: 4rem;
    width: 20rem;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
    margin: 2% auto;
    background-color: rgb(179, 153, 100);
    letter-spacing: 0.7px;
}

.btn-rage {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    border: none;
    color: white;
    font-size: 30px;
    border-radius: 8px;
    height: 4rem;
    width: 20rem;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
    background-color: rgb(203, 68, 74);
    letter-spacing: 0.7px;
}


/*
.wee:empty {
    background-color: tomato;
}*/


/*-- rage Page--*/

.goback {
    height: 10%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*cursor: url('http://anuary.com/dev/hp/pad3/public/images/hand-cursor.png'), pointer;*/
}


/*
.computer {
    width: 70%;
    height: 80%;
    margin: 0 auto;
    background-color: antiquewhite;
}*/


/* Stuff*/

canvas {
    background-size: cover;
}

.flexy {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.computer {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 0;
}

#imageGallery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#image {
    width: 70%;
    cursor: url('/img/cursor.png'), auto;
}

#image:active {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.3s;
}

h1 {
    display: inline;
    padding: 0;
    font-size: 40px;
}

@keyframes shake {
    30% {
        transform: translate(5px, 4px) rotate(3deg);
    }
}

#disapear {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}