@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
ul {
    position: absolute;
    top: 0px;
    left: 0px;
}

li a {
    color: white;
}

#time {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
}

.titel {
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 6rem;
    text-align: center;
    margin-top: 20%;
}

.exercise {
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
}

#myBtn {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    display: none;
    font-weight: bolder;
    width: 250px;
    height: 250px;
    background-color: beige;
    border-radius: 100%;
    border-width: 6px;
    text-align: center;
    padding: 30px 50px;
    z-index: 1;
    position: fixed;
    margin-top: 22.5%;
    cursor: pointer;
}

#myBtn:hover {
    background-color: darkcyan;
}


/*.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    width: 50px;
    height: 50vh;
}*/

#myModal_1 {
    display: block;
    position: fixed;
    z-index: 1;
    left: 100px;
    top: 300px;
    overflow: auto;
}

#myModal_2 {
    display: block;
    position: fixed;
    z-index: 2;
    left: 500px;
    top: 30px;
    overflow: auto;
}

#myModal_3 {
    display: block;
    position: fixed;
    z-index: 3;
    left: 300px;
    top: 300px;
    overflow: auto;
}

#myModal_4 {
    display: block;
    position: fixed;
    z-index: 4;
    left: 800px;
    top: 400px;
    overflow: auto;
}

#myModal_5 {
    display: block;
    position: fixed;
    z-index: 5;
    left: 60px;
    top: 10px;
    overflow: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;
    width: 550px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: firebrick;
    text-decoration: none;
    cursor: pointer;
}

.icons {
    width: 300px;
}

img {
    width: 100px;
}


/*.specialbutton {
z-index: 99999999999999;
position: fixed;
background-color: lightslategrey;
font-family: 'Gruppo', cursive;
font-size: 4rem;
text-align: center;
padding: 15px 40px;
display: inline-block;
color: white;
/*margin-left: 550px;
}*/


/* .specialbutton:hover {
background-color: red;
}*/


/*#element {
position: absolute;
top: 0x;
/*left: 25px;*/


/*width: 0px;
height: 1700px;
background-color: yellowgreen;
border: solid 4px white;
box-shadow: 0 0 10px yellowgreen, 0 0 20px yellowgreen, 0 0 40px yellowgreen;
}*/


/*#stress {
border: white 5px solid;
width: 95vw;
height: 85vh;
/*padding: 10px;
}*/

.hintergrund {
    /*width: 100%;*/
    background-size: cover;
    background-image: url(Bilder/Hintergrund.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*background-color: cadetblue;*/
}